body {
    background-image: url("DSC_0119.JPG");
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
}

#nav1 {
    background-color: #White;
    /*whichever you want*/
    color: black;
    opacity: 0.9;
    filter: (opacity=50);
    width: 750px;
    margin: 0 auto;
    list-style: none;
}

#nav1 li {
    float: left;
}

p {
    color: white;
}
.skill{
text-align: center;
}


#detail{
    font-size: 18px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255, 0.4);
}


